/* Сброс */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000000;
}

/* --- Header --- */

.header{
    background-color: #807f7f;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.9;
}

/* Обёртка header*/

.wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 30px;
}

/* Логотип */
.logo-href {
    color: #f12a2a;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

.logo-name {
    font-size: 25px;
    font-weight: bold;
}


/* Главное меню */
.nav-menu{
    display: flex;
    list-style-type: none;
}

.nav-menu > li{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menu > li > a{
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s ease;
    color: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

.nav-menu > li > a:hover{
    color: #f73a3a;
}


/* Соцсети */
.nav-social{
    display: flex;
    list-style-type: none;
}

.nav-social > li > a{
    padding: 0 2px;
}

/* Слайдер */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;    
}

.wrapper-slider {
    width: 1920px;
    height: 900px;
    position: relative;
    font-family: sans-serif;
    /* overflow: hidden; */
}

.slide-single {
    width: 1920px;
    height: 900px;
    position: absolute;
    transition: all ease 1s;
}



/* Медиазапросы */
@media (max-width: 1170px) {
    .nav-menu > li {
       padding-left: 10px;
       padding-right: 10px;
    }
    .nav-menu > li > a {
        font-size: 14px;
    }
    .logo-name {
        font-size: 20px;
    }
}